@media (max-width: 600px) {
  
  .city-card{
    top: 25px;
    bottom: auto;
    .panel-body {
      height: 70px;
      padding: 5px;
      img {
        border-radius: 0px;
        max-height: 60px;
      }
    }
  }
  h3 {
    margin: 55px auto;
  }

  .map {
    top: 120px;
    height: 150px;
  }

  .bar-chart{
    
    position: absolute;
    top: 270px;
    min-width: 100%; 
    min-height: 150px;
  }

  .journey-panel {
    display: none;
  }

}