<div class="map" qlik-map data-items="city" data-colors="colors"></div> 
<h3 ng-if="cityData">{{cityData.city.name}} ({{cityData.city.country}})</h3>
<div class="city-card" qlik-city-card data-item="cityData"></div> 
<button ng-click="buttonClick();" class="btn button-travel" ng-class="{'btn-primary': !status, 'btn-danger': status}" >{{buttonTravel}}</button>
<div class="journey-panel">
    <ul>
        <li ng-repeat="step in journey.slice().reverse()" style="color: {{step.color}};">{{step.name}}</li>
    </ul>
</div>
<!--
<div class="donut-chart" qlik-donut-chart data-items="pictures"></div> -->

<div class="bar-chart" qlik-bar-chart data-items="pictures" data-colors="colors"></div> 



